<?xml version="1.0" encoding="UTF-8" ?>
<context
	xsi:schemaLocation="http://www.hyperadapt.net/pxweave/context ../schemas/context.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.hyperadapt.net/pxweave/context">
	<integerParameter>
		<name>integerParameter</name>
		<value>1</value>
	</integerParameter>
	<stringParameter>
		<name>stringParameter</name>
		<value>test</value>
	</stringParameter>
</context>